In [6]:
import pandas as pd
from sklearn.feature_selection import SelectKBest,mutual_info_classif,f_classif

In [7]:
data = {
    'Feature1': [1,2,3,4,5],
    'Feature2': ['A','B','C','A','B'],
    'Feature3': [0,1,1,0,1],
    'Target': [0,1,1,0,1]
}

In [8]:
df=pd.DataFrame(data)
df

   Feature1 Feature2  Feature3  Target
0         1        A         0       0
1         2        B         1       1
2         3        C         1       1
3         4        A         0       0
4         5        B         1       1

In [9]:
x=df[['Feature1','Feature3']]
y=df['Target']

In [11]:
se=SelectKBest(score_func=mutual_info_classif,k=1)
X_new=se.fit_transform(x,y)

In [12]:
selected=se.get_support(indices=True)

In [13]:
selected_features = x.columns[selected]
print('selected Features:')
print(selected_features)

selected Features:
Index(['Feature3'], dtype='object')

In [23]:
import numpy as np
from scipy.stats import chi2_contingency
import seaborn as sns

In [24]:
tips=sns.load_dataset('tips')

In [25]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [26]:
contin_table=pd.crosstab(tips['sex'],tips['time'])
print(contin_table)

time    Lunch  Dinner
sex
Male       33     124
Female     35      52

In [29]:
chi2, p,_,_  =chi2_contingency(contin_table)
print(f"Chi_square: {chi2}")
print(f"P_Value: {p}")

Chi_square: 9.343808982970623
P_Value: 0.002237400118075248